<!DOCTYPE html>
<html>
<head>
    <title>WhereAreYou?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div id="centeralign">
    <a href="/users/login/facebook" style="font-size:100px"><i class="fa fa-facebook-official"></i></a>
    <a href="/users/login/google" style="font-size:100px"><i class="fa fa-google"></i></a>
</div>
</body>
</html>
